.nav-link {
    color: white !important;
    padding: 0.5rem;
    border-radius: 5rem;
    transition: background-color 0.3s;
}

.nav-link.active, .nav-link:focus, .nav-link:active {
    color: #4A628A !important;
    background-color: white;
}

.btn-nav {
    color: rgb(240, 240, 240) !important;
    border: none;
}

.btn-nav:focus, .btn-nav:hover, .btn-nav:active {
    color: white !important;
}