.outlet {
    box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.37) inset;
    -webkit-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.37) inset;
    -moz-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.37) inset;
    min-height: calc(100vh - 50px);
}